* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
}

.page {
  width: 100%;
}

/* =========================
   HEADER
========================= */

.header {
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px; */
}

.container{
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.links {
  gap: 35px;
}

.links ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
}

.links li a:hover{
  color: rgb(87, 87, 117);
}

.opcao-Pesq {
  display: flex;
  gap: 16px;
  /* font-size: 2rem; */
}

.img {
  gap: 5px;
  width: 40px;
  height: 40px;
}
/* =========================
   banner
========================= */

.banner {
  height: 500px;
  background-image:
  linear-gradient(
    to right,
    rgba(196, 173, 137, 0.95),
    rgba(235,232,227,0.5)
    );
    /* , */
    /* caso queira deixar uma imagem de fundo acho fica ruim */
    /* url("./assets");  */
  /* background-size: cover; */
  /* background-position: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
}

.content {
  max-width: 500px;
}

.content span {
  letter-spacing: 8px;
  font-size: 1rem;
}

.content h1 {
  font-size: 5rem;
  line-height: 0.95;
  margin: 20px 0;
  font-family: Georgia, serif;
  font-weight: 400;
}

.content p {
  font-size: 2rem;
  color: #444;
}


/* =========================
   CATÁLOGO
========================= */

.catalogo {
  padding: 70px;
  text-align: center;
}

.catalogo h2 {
  font-size: 3rem;
  color: #13233c;
  font-family: Georgia, serif;
}

.catalogo p {
  margin-top: 20px;
  color: #312c2c;
}



/* =========================
   FILTROS
========================= */

.filtros {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  gap: 15px;
}

.filtros button {
  border: none;
  padding: 12px 22px;
  border-radius: 25px;
  color: #000;
  cursor: pointer;
  background: #eee;
  font-size: 1.2rem;
   transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.filtros button:hover {
  transform: scale(1.08);
  background: #222;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.filtros .ativo {
  background-color: #222;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.cards-container {
   width: 80%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow:
    0 15px 35px rgba(0,0,0,0.18);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card h3 {
  padding: 18px;
  color: #13233c;
  font-size: 1.2rem;
}

.card button {
  margin: 0 18px 18px 18px;
  width: calc(100% - 36px);
  border: none;
  background: #13233c;
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #1f3a62;
}